{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instituto Wescley Fagundes</title>
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon-32x32.png'%}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <header>
        <nav>
            <a class="logo" href="/">Instituto Wescley Fagundes</a>
            <div class="mobile-menu">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>                
            </div>
            <ul class="nav-list">
                <li><a href="/">Início</a></li>
                <li><a href="https://www.instagram.com/projetowescleyfagundes/">Instagram</a></li>
                <li><a href="/">Contato</a></li>
                <li><a href="/">Admin</a></li>
            </ul>
        </nav>
    </header>
    <main>

    </main>
</body>
</html>